.nav {
    background: #040404;
    padding: 1rem 2rem;
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: #45caff;
    text-decoration: none;
    border: 1px solid #45caffdd;
    background-color: #45caff20;
    border-radius: 35px;
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.25s;
}

.link:hover {
    color: white;
    background-color: #45caffdd;
}

.icons {
    display: flex;
    gap: 2rem;
}